full_wiki_data
wojciech
.vscode
private_data

__pycache__
/data/reddit_data_with_NER_extended.json
data/reddit_with_textdata
.gpickle

venv
.idea
.idea/final_project_new.iml
.idea/misc.xml
wordclouds
